* {
      /* margin: 0px; */
      padding: 0px;
      /* margin: auto; */
      /* margin: 20px; */
}

.containar-1 {
      margin: 40px 40px;
      border: 2px solid black;
      box-shadow: 18px 15px 30px gray;
      display: flex;
      margin-bottom: 70px;
      border-radius: 8px;
}

img {
      height: 300px;
      width: 500px;
      /* border: 1px solid black; */
}

.containt {
      /* border: 1px solid purple; */
      /* text-align: justify; */
      margin-left: 30px;
      /* align-items: center; */
      font-family: Georgia, 'Times New Roman', Times, serif;
}

.input-text {
      margin: 0px;
}

.input-heading {
      border: 2px solid black;
      text-align: center;
}

.inputcover {
      height: 500px;
      border: 2px solid purple;
      background-image: url(../images/coverphoto.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: right 35% bottom 45%;
}

.input-heading label {
      display: block;
      /* text-align: start; */
      color: white;
}