* {
      /* margin: 0px; */
      padding: 0px;
      /* margin: auto; */
      /* margin: 20px; */
}

.containar-1 {
      margin: 40px 40px;
      border: 2px solid black;
      box-shadow: 18px 15px 30px gray;
      display: flex;
      margin-bottom: 70px;
}

img {
      height: 300px;
      width: 500px;
      /* border: 1px solid black; */
}

.containt {
      /* border: 1px solid purple; */
      /* text-align: justify; */
      margin-left: 30px;
      /* align-items: center; */
      font-family: Georgia, 'Times New Roman', Times, serif;
}

.background {
      height: 500px;
      background-repeat: no-repeat;
      background-image: url(../images/background2.jpg);
      background-size: cover;
}